.home{
  color: brown;
}

.center{
  color:blue;
  font-size: 50px;;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top{
  color:blueviolet;
  font-size: 50px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}